<div id = "bg">
<div class=container>
<h1>Калькулятор доходности</h1>

<%= form_tag("/calculate", :id => 'calc_form', :remote => true) do %>
  <div id="sum" >
  <%= label_tag(:n, "Введите сумму (руб):") %>
  <%= number_field_tag(:n) %>
  </div>
  <div class = 'button'>
    <%= submit_tag("Рассчитать") %>
  </div>
<% end %>

<div id = 'itog' >
<div>Ожидаемая доходность: <span id = "margin1" class = "digits"> 30% </span> </div>
<div>Ожидаемый доход: <span id = "profit1" class = "digits"> </span> </div>
<div>Фактическая доходность: <span id = "margin2" class = "digits"> </span> </div>
<div>Фактический доход: <span id = "profit2" class = "digits"> </span> </div>
</div>

</div>

</div>

<script type="text/javascript">
$(document).ready(function () {
  $("#calc_form").validate({
    rules: {
      "n": {required: true, number: true},
    }});
  });
</script>
