// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: verdana, arial, helvetica, sans-serif;
}

.error {
  color: red;
}

#itog {
  font-weight: bold;
  margin: 20px 0 0 0;
  text-align: left;
  padding-left: 100px;
}

#bg {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  
  height: 500px;
  
  padding-top: 140px;
}

.container {
  width: 600px;
  padding: 50px 20px 50px 20px;
  text-align: center;
  margin: auto;
//  margin-top: 50px;
  
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

#sum {
//  margin-left: 50px;
  text-align: left;
  padding-left: 100px;
  height: 40px;
  width: 400px;
}

label.error {
  //font-weight: bold;
  color: #ff0000;
  text-shadow: 1px 1px 2px black
}

.button {
  margin-top: 10px;
}

.digits {
  color: #ffbf00;
  text-shadow: 1px 1px 2px black
}


